/* Light Mode */
body {
  background: #ffffff;
  color: #222;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background: #222222;
    color: #e0e0e0;
  }

  a {
    color: #9fc5ff;
  }

  header, nav, footer {
    background: #1c1c1c;
    color: #e0e0e0;
  }
}
