---
layout: default
---

<!–– Custom Header! ––>
<header>
  <nav class="nav" role="navigation" aria-label="Main navigation">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/documentation/' | relative_url }}">Documentation</a>
    <a href="{{ '/building/' | relative_url }}">Building</a>
    <a href="{{ '/features/' | relative_url }}">Features</a>
    <a href="{{ '/downloads/' | relative_url }}">Downloads</a>
    <a href="{{ '/faq/' | relative_url }}">FAQ</a>
    <a href="{{ '/bugs/' | relative_url }}">Bugs</a>
  </nav>
</header>

{{ content }}
